body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}




.img{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}



.menu {
    margin-top: 30px;
    background-color: white;
    padding:  20px;
    text-align: center;
    transition: opacity 0.3s ease;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content:center; /* melhor para scroll */
    white-space: nowrap; /* importante! */
}


.menu::-webkit-scrollbar {
    display: none;
}


.menu.hidden {
    opacity: 0;
    pointer-events: none;
}

.menu2 {
    display: flex;
    padding: 0 10px ;
    text-align: center;
    background-color: white;
    justify-content: flex-start;


}

.menu li:first-child {
    margin-left: 20px;
}


.menu2 ul {
    display: flex;;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.menu li{
    flex: 0 0 auto;
    border-radius: 15px;
    margin: 0 10px 10px;
    transition: opacity 0.5s ease;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    transition: box-shadow 0.3s ease;
    scroll-snap-align: start;


}

.hide-images li {
    box-shadow: none !important;
}

.menu-item{
    object-fit: cover;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
    margin:0 0 10px 0;
    transition: opacity 0.5s ease;
}


.hide-images .menu-item {
   opacity: 0;
   display: none;
}





.menu2 li a {
    text-decoration: none;
    color: #556b2f;
    padding: 0 10px;
    border-radius: 20px;
    font-weight: bold;
    
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    flex-wrap: nowrap; /* impede quebra de linha */
}

.menu li a {
    display: grid;
    text-decoration: none;
    color: #556b2f;
    padding: 10px 5px;
    font-weight: bold;
    transition: 0.3s;
}





.produtos {
    margin-top: -7px;
    background-color: #556b2f;
    color:#f2c68b;
    padding: 20px 10px;
    margin-bottom: -0.5px;
}

.produto {

    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid #ec9034;
}

.produto2 {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid #ec9034;
}


.produto img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.produto2 img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.produto3 img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit:cover;
    margin-right: 20px;

}

.container {
    display: flex;
    padding: 20px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: auto;
   
}

.container::-webkit-scrollbar {
    display: none;
}

.child {
    margin-top: 50px;
    flex: none;
    width: 100%;
    height: auto;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; /* Começa no topo */
    padding-top: 50px;

    
    /* Espaço opcional no topo */
}

.produto3 {
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid #ec9034;
}


.legenda p {
    margin: 5px 0;
    text-align: left;
    color: white;
}

.legenda2 p {
    margin: 5px 0;
    text-align: left;
    color: #556b2f;
}

h1 {
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    color:white;
    font-size: 1.8rem;
}

h2 {
    margin-top: 12px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: white;
}


button{
    background-color: #556b2f;
    color: #ec9034;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border-color: #ec9034;
}

    @keyframes deslizar {
      0% { transform: translateX(0); }
      33% { transform: translateX(-100%); }
      66% { transform: translateX(-200%); }
      100% { transform: translateX(0); }
    }
.rodape {
    padding: 20px;
    background-color: #556b2f;
    color: #ec9034;
    text-align: center;
    font-size: 0.9rem;
}



@media (max-width: 768px) {
    .menu{
        justify-content: flex-start;
    }
}
